<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>test</title>
  <% include head.ejs %>
  <link rel="stylesheet" href="/css/command.min.css">
</head>
<body>
  <% include header.ejs %>
  <div class="ges-content">
    <p class="ges-content-title">Votre commande: </p>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <td>N°</td>
                  <td>Total en €</td>
                </tr>
              </thead>
              
              <tbody>
                <% commands.forEach(function(command){ %>
                  <tr>
                    <td><%= command.commandId %></td>
                    <td><%= command.totalPrice %></td>
                    <td><a href="/order/view/<%= command.commandId %>">Voir la commande</a></td>
                  </tr>
                  <% }); %>
                  
                </tbody>
              </table>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
