<link rel="stylesheet" href="/css/header.min.css">
<div class="ges-header">
  <div class="ges-header-logo">
    <a href="/products">GESCOMPTA</a>
  </div>
  <div class="ges-header-cart">
    <a href="/cart">Panier</a>
  </div>
</div>
